<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WEB422 Assignmetn 1: Restuarant API</title>
</head>
<body>
  <h1>Joochan Kim 159616184</h1>
  <h2>GET ALL</h2>
  <ul>
    <li>Get all items <a href="/api/restaurants?page=1&perPage=4&borough=Brooklyn">/api/restaurants?page=1&perPage=9</a></li>
    <li>Get all items by borough<a href="/api/restaurants?page=1&perPage=4&borough=Brooklyn">/api/restaurants?page=1&perPage=5&borough=Bronx</a></li>
   </ul>
 <h2>GET BY RESTAURANT ID</h2>
 <ul>
 <li>Get Restaurant by ID <a href="/api/restaurants/5eb3d668b31de5d588f42932">/api/restaurants/5eb3d668b31de5d588f42932 </a></li>
 </ul>

</body>
</html>